@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body{
    background-color: rgb(212, 0, 0);
}

.page-head{
    font-family: 'Lora', serif;
    margin-left: 15px;
    margin-top: 10px;
}